@import url('https://fonts.googleapis.com/css2?family=Barlow&family=Barlow+Condensed:wght@400;700&display=swap');

:root {
  --red: hsl(0, 100%, 68%);
  --Very-Dark-Blue: hsl(230, 29%, 20%);
  --Dark-Grayish-Blue: hsl(230, 11%, 40%);
  --Grayish-Blue: hsl(231, 7%, 65%);
  --Light-Grayish-Blue: hsl(207, 33%, 95%);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#mobile-menu-btn {
  border: none;
  background: transparent;
  display: none;
}

body {
  font-family: 'Barlow', sans-serif;
  color: var(--Very-Dark-Blue);
  font-size: 18px;
}

body::after {
  background-color: var(--Light-Grayish-Blue);
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  z-index: -999;
  height: 50vh;
  width: 50vw;
  border-bottom-left-radius: 3em;
}

/* Desktop main container grid set-up -----START */
.container {
  display: grid;
  grid-template-columns: repeat(2, minmax(400px, 1fr));
  grid-template-rows: min(120px);
  grid-template-areas: 
    "logo menu"
    "content illustration";
    padding: 6vh 8vw;
  overflow-x: hidden;
}

#logo {
  grid-area: logo
}

ul {
  grid-area: menu;
}

.content-wrapper {
  grid-area: content
}

.illustration {
  grid-area: illustration;
}


/* MENU */
ul {
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  padding: 0 5%;
  font-family: 'Barlow-condensed', sans-serif;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: 700;
}

ul li a {
  text-decoration: none;
  color: var(--Very-Dark-Blue);
  transition: all 0.3s;
}

ul li a:active,
ul li a:hover {
  text-decoration: underline;
  cursor: pointer;
  font-size: 1.02em;
}

.menu-divider {
  background-color: var(--Grayish-Blue);
  content: "";
  border-radius: 50%;
  height: 5px;
  width: 5px;
  margin-top: 1%;
}

.special-menu-item {
  color: var(--Grayish-Blue);
  transition: all 0.3s;
}

.special-menu-item:active,
.special-menu-item:hover {
  color: var(--Dark-Grayish-Blue);
  text-decoration: underline;
  cursor: pointer;
}


/* CONTENT ELEMENTS */

.content-wrapper {
  height: 100%;
  display: grid;
  grid-template-rows: repeat(6, minmax(50px, 1fr));
  justify-items: start;
  align-items: center;
  padding: 4% 0;
}
.subheader h3 {
  background-color: var(--Very-Dark-Blue);
  color: var(--Light-Grayish-Blue);
  display: inline-block;
  border-radius: 15px;
  padding: 2px 10px;
  text-transform: uppercase;
  font-weight: 400;
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 18px;
}

.subheader span {
  text-transform: uppercase;
  color: var(--Grayish-Blue);
  font-weight: 400;
  align-self: stretch;
  font-size: 16px;
  font-family: 'Barlow Condensed', sans-serif;
  padding-left: 10px;
  letter-spacing: 3px;
  text-shadow: 1px var(--Very-Dark-Blue);
}

h1 {
  grid-row: 2 / 4;
  text-transform: uppercase;
  font-family: 'Barlow Condensed', sans-serif;
  font-weight: 700;
  font-size: 340%;
  line-height: 95%;
  width: 80%;
}

.description {
  text-overflow: clip;
  padding-right: 45%;
  color: var(--Dark-Grayish-Blue);
  place-self: end;
}

.cta {
  grid-row: 6 / 7;
  justify-self: start;
  align-self: start;
  display: inline-block;
  font-family: 'Barlow Condensed', sans-serif;
}

.cta button {
  padding: 15px 30px;
  border-radius: 5px;
  display: inline-block;
  text-transform: uppercase;
  background-color: var(--red);
  color: var(--Light-Grayish-Blue);
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 18px;
  transition: background-color 0.2s;
}

.cta button:active,
.cta button:hover {
  cursor: pointer;
  background-color: hsl(0, 100%, 60%);
}

.cta p {
  display: inline-block;
  text-transform: uppercase;
  padding-left: 15px;
  color: var(--Grayish-Blue);
  letter-spacing: 3px;
  text-shadow: 1px var(--Very-Dark-Blue);
  font-family: 'Barlow Condensed', sans-serif;
  font-size: 16px;
}


/* ILLUSTRATION */

/* MOBILE */

@media screen and (max-width: 840px) {
  /* LAYOUT */
  .container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: 1fr auto auto;
    grid-template-areas: 
      "logo menu"
      "illustration illustration"
      "content content";
    padding: 5vh 8vw;
    height: 90vh;
    overflow-x: hidden;
  }
  
  #logo {
    grid-area: logo
  }
  
  ul {
    display: none;
  }

  #mobile-menu-btn {
    display: block;
    grid-area: menu;
    align-self: start;
    justify-self: end;
  }

  #mobile-menu-btn .icon-close {
    display: none;
  }
  
  .content-wrapper {
    grid-area: content
  }
  
  .illustration {
    grid-area: illustration;
  }

  /* Illustration LAYOUT */
  .illustration img{
    scale: 0.8;
    margin: 0 0 0 -14%;
  }

  /* Background square */
  body::after {
    height: 60vh;
  }
  /* CONTENT */
  .subheader h3 {
    padding: 2px 12px 4px 12px;
    font-weight: 700;
    font-size: 16px;
    letter-spacing: 1px;
  }
  
  .subheader span {
    padding-left: 22px;
    letter-spacing: 6px;
  }
  
  h1 {
    font-size: 250%;
    width: 95%;
    align-self: start;
  }
  
  .description {
    padding: 0 15% 0 0;
    font-size: 20px;
    align-self: start;
  }
  
  .cta {
    grid-row: 5 / 7;
    justify-self: start;
    align-self: center;
    display: inline-block;
    font-family: 'Barlow Condensed', sans-serif;
  }
  
  .cta button {
    padding: 10px 25px;
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.6px;
  }
    
  .cta p {
    padding-left: 12px;
    letter-spacing: 2px;
    font-size: 16px;
  }



}